@media only screen and (max-device-width: 480px) {

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main .info {
        float: initial;
    }

    main .botones1 {

        display: flex;
        justify-content: flex-start;
    }

    header .encabezado {
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }

    main .contenedor-textarea {

        display: flex;
        flex-direction: column;

    }

    main .botones1 li .botones {
        margin-left: 5px;
        width: 105px;
        height: 40px;

    }

    main .contenedor-textarea .textIn {
        width: auto;
        height: auto;
        margin-top: 1px;
    }

    main .contenedor-textarea .textOut {
        width: auto;
        height: auto;
    }

    main .contenedor-botones {
        padding-bottom: 8px;
        
    }

    main .contenedor-textarea .mensaje {
        margin-bottom: 10px;
        text-align: center;
        font-size: smaller;
        

    }

    body footer .icon-link {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    main .mensajesOcultos #textareaVacio{
        padding: 14px;
        left: 1%;

    }
    
    main .mensajesOcultos #textoCopiado {

        padding: 14px;
        left: 14%;
    }

    main .mensajesOcultos #textoNoCopiado {

        padding: 14px;
        left: 14%;
    }

    main .mensajesOcultos #validarTexto{
        padding: 14px;
        left: 0;
    }

    main .mensajesOcultos #validarTextoEncriptado {
        padding: 14px;
        left: 11%;
    }



}

html {

    min-height: 100%;

}

body {

   /* background: linear-gradient(#259797, #af9d84); */
   background: linear-gradient(#259797, #1a237e); 
    
}

.encabezado {
    
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}


h1 {
    display: inline-block;
    font-size: 40px;
}

.titulo-principal {

    color: black;
    display: grid;
    align-content: space-evenly;
    border-bottom-left-radius: -20px;

}

main {
    padding: 20px;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;

}

main .contenedor-textarea {

    margin-bottom: 20px;
   

}

.mensaje {

    position: relative;
    color: white;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.imgInfo {

    width: 15px;
    float: left;

}

.textIn {
    
    outline: none;
    font-size: 20px;
    box-shadow: -5px 0px 3px;
    background-color: transparent;
    border-radius: 5px;
    width: 416px;
    height: 357px;
    resize: none;
    margin-top: 20px;

}

textarea::placeholder {

    font-weight: lighter;
    color: black;
    text-align: center;

}

.textOut {

    outline: none;
    background-image: url("imagenes/Munecosalida.png");
    background-position: center;
    background-repeat: no-repeat;
    text-transform: lowercase;
    outline: none;
    font-size: 20px;
    box-shadow: 5px 0px 3px;
    background-color: transparent;
    border-radius: 5px;
    width: 416px;
    height: 357px;
    margin-top: 10px;
    resize: none;


}

.contenedor-botones {

    padding-bottom: 20px;

}

.botones1 {

    display: flex;
    justify-content: center;
}

.botones1 li {

    text-decoration: none;
    display: inline-block;

}

.botones1 li .botones {
    margin-left: 8px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    background-color: blue;
    color: white;

}

#botonEncriptar {
    cursor: url(imagenes/puntero-lock.cur), auto;
}

#botonDesencriptar {
    cursor: url(imagenes/puntero-unlocked.cur), auto;
}

.botones:hover {

    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(172, 49, 49);
    transition: all 0.2s ease;

}

#textoCopiado {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 40%;
    bottom: 30px;
}

#textoCopiado.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

#textoNoCopiado {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 40%;
    bottom: 30px;

}

#textoNoCopiado.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

#textareaVacio {
    
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 36.5%;
    bottom: 30px;

}

#textareaVacio.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

#validarTexto {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 29.5%;
    bottom: 30px;
}

#validarTexto.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}
span{
    color: red;
}

#validarTextoEncriptado {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 39.5%;
    bottom: 30px;
    
}



#validarTextoEncriptado.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

@keyframes fadein {
    from {
        
        opacity: 0;
    }

    to {
       
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
       
        opacity: 0;

    }

    to {
      
        opacity: 1;
    }
}


footer .icon-link {

    text-align: center;
    padding: 40px;
    color: white;

}