@media (max-width: 914px) {

    main .botones1 {

        display: flex;
        justify-content: flex-start;


    }

    header {

        display: flex;
        justify-content: center;

    }

    main .contenedor-textarea {

        display: flex;
        flex-direction: column;

    }


}

@media only screen and (max-device-width: 570px){


    main .botones1 {

        display: flex;
        justify-content: flex-start;

    }

    header .encabezado {
        margin-top: 0;
    }

    main .contenedor-textarea {

        display: flex;
        flex-direction: column;

    }

    main .botones1 li .botones {
        margin-left: 5px;
        width: 105px;
        height: 40px;
    }

    main .contenedor-textarea .textIn {
        width: 321px;
        height: 200px;
        margin-top: 1px;
    }

    main .contenedor-textarea .textOut {
        width: 321px;
        height: 260px;


    }

    main .contenedor-botones {
        padding-bottom: 8px;
    }

    main .contenedor-textarea .mensaje {

        text-align: center;
        font-size: smaller;

    }

    body footer {
        padding-bottom: 0px;
    }

}

body {

    background: linear-gradient(#259797, #af9d84);
    background-size: auto;
    width: 100%;

}

header {

    padding: 10px 0;

}

.encabezado {

    margin-top: 20px;
    margin-bottom: 11px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}


.titulo p {
    font-size: 40px;
}

.titulo-principal {

    color: black;
    display: grid;
    align-content: space-evenly;
    border-bottom-left-radius: -20px;

}

main {

    display: grid;
    align-content: space-around;
    justify-content: space-evenly;

}

main .contenedor-textarea {

    margin-bottom: 20px;

}

.mensaje {

    position: relative;
    color: white;
}

.textIn {

    outline: none;
    text-transform: lowercase;
    font-size: 20px;
    box-shadow: -5px 0px 3px;
    background-color: transparent;
    border-radius: 5px;
    width: 416px;
    height: 357px;
    resize: none;

    margin-top: 20px;

}

textarea::placeholder {

    font-weight: lighter;
    color: black;
    text-align: center;

}

.textOut {

    background-image: url("imagenes/Munecosalida.png");
    background-position: center;
    background-repeat: no-repeat;
    text-transform: lowercase;
    outline: none;
    font-size: 20px;
    box-shadow: 5px 0px 3px;
    background-color: transparent;
    border-radius: 5px;
    width: 416px;
    height: 357px;
    resize: none;


}

.contenedor-botones {

    padding-bottom: 20px;

}

.botones1 {

    display: flex;
    justify-content: center;
}

.botones1 li {

    text-decoration: none;
    display: inline-block;

}

.botones1 li .botones {
    margin-left: 8px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    background-color: blue;
    color: white;

}

.botones:hover {

    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(172, 49, 49);
    transition: all 0.2s ease;

}

#texto-copiado {
    visibility: hidden;
    min-width: 50px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 0px;
    font-size: 17px;
}

#texto-copiado.show {
    visibility: visible;
    animation: fadein 0.1s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

footer {

    
    position: relative;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;

    color: white;

}